extends layout
block content
    .col
        .col-md-10
            form(role='form', action='/register', method='post')
                br
                .form-group
                    label.control-label(for='studentID') Student ID
                    input#studentID.form-control(name='registerStudentID' placeholder='Student ID e.g XX-XXXX', type='text', required='required', pattern="^ *(\\d{2} *- *\\d{4})*$")
                .form-group
                    label.control-label(for='postNomination') Post
                    select#postNomination.form-control(required='required', name='registerPosition')
                        option Chairperson
                        option Vice Chairperson
                        option Treasurer
                        option Secretary
                        option Organizing Secretary/ Public Relations
                        option Resource Lab Manager
                .form-group
                    if error
                        .alert.alert-danger
                            a.close(href='#', data-dismiss='alert', aria-label='close') ×
                            strong= message
                br
                button.btn.Submit(type='submit') Submit
