extends layout
block content
    .container
        .alert.alert-success
            strong Success!
            |  Thank you for particapting in the Dita Elections. You will be notified once results are tallied.

