extends layout
block content
    .container
        div.page-header
            h1 Time to Vote
    .section
        div.container
            div.row
                div.col-md-12
                    form(role='form', action='/vote', method='post')
                        #errors.form-group(hidden='')
                            .alert.alert-danger
                                a.close(href='#', data-dismiss='alert', aria-label='close') ×
                                strong Error!
                                | Indicates a successful or positive action.
                        #voting-number.form-group
                            label.control-label(for='voting-number-text')
                                | Voting number
                                br
                            input#voting-number-text.form-control(name='votingNumber', placeholder='Enter voting number', type='text', required='')
                        #chairperson.form-group
                            label.control-label(for='chairperson-list')
                                | Chairperson
                                br
                            select#chairperson-list.form-control(name='chairperson')
                                option 1
                                option 2
                                option 3
                                option 4

                        #vicechair.form-group
                            label.control-label(for='vicechair-list')
                                | Vice Chairperson
                                br
                            select#vicechair-list.form-control(name='vicechair')
                                option 1
                                option 2
                                option 3
                                option 4

                        #secretary.form-group
                            label.control-label(for='secretary-list')
                                | Secretary
                                br
                            select#secretary-list.form-control(name='secretary')
                                option 1
                                option 2
                                option 3
                                option 4

                        #pr.form-group
                            label.control-label(for='pr-list')
                                | Organizing Secretary/Public Relations
                                br
                            select#pr-list.form-control(name='publicRelations')
                                option 1
                                option 2
                                option 3
                                option 4

                        #treasurer.form-group
                            label.control-label(for='chairperson-list')
                                | Treasurer
                                br
                            select#treasurer-list.form-control(name='treasurer')
                                option 1
                                option 2
                                option 3
                                option 4

                        #rm.form-group
                            label.control-label(for='rm-list')
                                | Resource Lab Manager
                                br
                            select#rm-list.form-control(name='resourceManager')
                                option 1
                                option 2
                                option 3
                                option 4
                        button.btn.btn-default(type='submit') Submit
